.ProfileCard{
    width: 100%;
    height:320px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin-bottom: 20px;
    background-color: #F0ECE5;
}

/* Style for the Profile Card Wrapper */
.ProfileCardWrapper {
  max-width: 100%;
  border-radius: 8px;
  background-color: #F0ECE5;
  padding: 30px ;
}

/* Style for the Profile Card Top Section */
.ProfileCardTop {
  display: flex;
  align-items: center;
}

/* Style for the Profile Picture */
.ProfileCardImg {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

/* Style for the Profile Card Info */
.ProfileCardInfo {
  flex-grow: 1;
}

.ProfileCardName {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.profileCardUsername {
  color: #777;
}

/* Style for the Edit Profile Button */
.editProfileItem, .followBtn {
  background-color: #31304D;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editProfileItem:hover{
  filter: brightness(1.2);
}

.editProfileBtn {
  margin-right: 5px;
}

/* Style for the Profile Card Bio */
.ProfileCardBio {
  display: block;
  margin-top: 15px;
  color: #555;
  font-size: 0.9rem;
  margin-left: 125px;
}


/* Follow Status */
.followStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .followStatus > hr {
    width: 85%;
    border: 1px solid #31304D;
  }
  
  .followStatus > div {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
  
  .follow {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
  }

  .follow > span:nth-of-type(1) {
    font-weight: bold;
  }
  
  .follow > span:nth-of-type(2) {
    color: #31304D;
    font-size: 13px;
  }

  .vl {
    border-left: 1px solid #31304D;
    height: 30px;
    margin: 0 10px;
  }

  .ProfileCard>span{
    font-weight: bold;
    background-color: #31304D;
    color: white;
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
  }
